@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
html {
  --card-bg: #F5F5F5;
  --footer-bg: #D5D4D8;
  --heading: #2B283A;
  --sub-heading: #2B283A;
  --text: #4A4E74;
  --btn-email: #FFFFFF;
  --btn-li: #297FE5;
  --title: #F47D27;
}

html[data-theme='dark'] {
  --card-bg: #1A1B21;
  --footer-bg: #161619;
  --heading: #FFFFFF;
  --sub-heading: #F5F5F5;
  --text: #DCDCDC;
  --btn-email: #FFFFFF;
  --btn-li: #5093E2;
  --title: #F3BF99;
}

/******** Utility Classes ********/
#about, #interests {
  padding-inline: 35px;
}

#about .content-heading, #interests .content-heading {
  color: var(--sub-heading);
  font-size: 16px;
}

#about .content, #interests .content {
  color: var(--text);
  font-size: 10.25px;
  line-height: 150%;
  text-align: justify;
}

/******** Reset Styling ********/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/********** Styling **********/
body {
  background-color: #23252C;
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: var(--card-bg);
  border-radius: 10px;
  width: 316px;
}

#info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#info img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

#info .info-details {
  text-align: center;
  padding-block: 1.25rem;
}

#info .info-details .name {
  color: var(--heading);
  font-size: 25px;
}

#info .info-details .title {
  color: var(--title);
  font-size: 13px;
}

#info .info-details .site {
  color: var(--text);
  font-size: 10.25px;
  padding-top: 8px;
}

#info .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

#info .buttons .btn-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 12px;
  width: 115px;
  background-color: var(--btn-email);
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  color: #1E1F26;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#info .buttons .btn-email .btn-icon {
  margin-right: 8px;
}

#info .buttons .btn-email:hover {
  background-color: #5C5C5C;
  border: 1px solid #5C5C5C;
  color: #FFFFFF;
  cursor: pointer;
}

#info .buttons .btn-linkedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 12px;
  width: 115px;
  background-color: var(--btn-li);
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#info .buttons .btn-linkedin .btn-icon {
  margin-right: 8px;
}

#info .buttons .btn-linkedin:hover {
  background-color: #0B386C;
  border: 1px solid #0B386C;
  color: #FFFFFF;
  cursor: pointer;
}

#about {
  padding-top: 24px;
}

#interests {
  padding-top: 18px;
  padding-bottom: 24px;
}

footer {
  background-color: var(--footer-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-block: 19.5px;
  border-radius: 0px 0px 10px 10px;
}

footer .social-icon {
  color: #918E9B;
  font-size: 25px;
}

footer .social-icon:hover {
  color: #F47D27;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */